<div class="row">
  <div class="col-lg-3 col-md-3 col-6">
      <div class="single-funfact">
          <div class="icon">
              <i class='bx bxs-video'></i>
          </div>
          <h3><span [countUp]="850">00</span></h3>
          <p>Videos</p>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-6">
      <div class="single-funfact">
          <div class="icon">
              <i class='bx bxs-image'></i>
          </div>
          <h3><span [countUp]="1000">00</span></h3>
          <p>Imagenes</p>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-6">
      <div class="single-funfact">
          <div class="icon">
              <i class='bx bxs-book'></i>
          </div>
          <h3><span [countUp]="3800">00</span></h3>
          <p>Documentos</p>
      </div>
  </div>
  <div class="col-lg-3 col-md-3 col-6">
      <div class="single-funfact">
          <div class="icon">
              <i class='bx bx-cloud-download'></i>
          </div>
          <h3><span [countUp]="8450">00</span></h3>
          <p>Descargas</p>
      </div>
  </div>
</div>
