<section class="content">
    <div class="box box-success"> 
      <form #form="ngForm" [formGroup]="paginaForm" (ngSubmit)="onFormSubmit(form)">
        <div class="box-content">
          <div class="box-header">
            <h4 class="box-title">{{ accion ? 'Crear' : 'Actualizar' }} Página</h4>
          </div>
          <div class="box-body">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="entradaDescripcion">Nombre</label>
                    <input type="text" class="form-control" id="entradaDescripcion" placeholder="Nombre" name="f_descripcion" 
                      formControlName="f_descripcion">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label for="entradaNota">Nota</label>
                    <textarea class="form-control" id="entradaNota" placeholder="Nota"
                      name="f_nota" formControlName="f_nota"></textarea>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="box-footer">
          <button (click)="cancelar()" id="bnt_cerrar_modal" type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-fill btn-rose background-color-primary float-right">{{ accion ? 'Crear' : 'Actualizar' }}</button>
        </div>
      </form>
    </div>
  </section>

