<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="single-footer-widget mb-30">
                    <h3>SEDE Santiago</h3>

                    <ul class="contact-us-link">
                        <li>
                            <i class='bx bx-map'></i>
                            <a href="#" target="_blank">Av. Hispanoaméricana #100, Thomén, Código postal No. 51000</a>
                        </li>
                        <li>
                            <i class='bx bx-phone-call'></i>
                            <a href="tel:8097240266"> Tel.:(809) 724-0266; Fax: (809) 724-0329</a>
                        </li>
                        <li>
                            <i class='bx bx-envelope'></i>
                            <a href="mailto:registro@uapa.edu.do">	registro@uapa.edu.do</a>
                        </li>
                    </ul>

                    <ul class="social-link">
                        <li><a href="https://www.facebook.com/uniuapa" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="https://twitter.com/uniuapa" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="https://www.instagram.com/uniuapa/" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="https://www.uapa.edu.do/radio/" class="d-block" target="_blank"><i class='bx bx-radio'></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCuHpTq7qj7OaErE37P8fQ1Q" class="d-block" target="_blank"><i class='bx bxl-youtube'></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="single-footer-widget mb-30">
                  <h3>Santo Domingo Oriental</h3>

                  <ul class="contact-us-link">
                      <li>
                          <i class='bx bx-map'></i>
                          <a href="#" target="_blank">Calle 5-W Esq. 2W, Urbanización Lucerna, Código postal No. 11516 </a>
                      </li>
                      <li>
                          <i class='bx bx-phone-call'></i>
                          <a href="tel:8097240266"> Tel.:(809) 483-0100 Fax: (809) 483-4313</a>
                      </li>
                      <li>
                          <i class='bx bx-envelope'></i>
                          <a href="mailto:registro@uapa.edu.do">	registro@uapa.edu.do</a>
                      </li>
                  </ul>
              </div>
          </div>

          <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="single-footer-widget mb-30">
                <h3>Cibao Oriental</h3>

                <ul class="contact-us-link">
                    <li>
                        <i class='bx bx-map'></i>
                        <a href="#" target="_blank">Calle 1ra, Urb. Alfonso Alonso, Código postal No. 33000,Nagua.</a>
                    </li>
                    <li>
                        <i class='bx bx-phone-call'></i>
                        <a href="tel:8097240266"> Tel.:(809) 584-7021 <br />Fax: (809) 584-1601</a>
                    </li>
                    <li>
                        <i class='bx bx-envelope'></i>
                        <a href="mailto:registro@uapa.edu.do">	registro@uapa.edu.do</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="single-footer-widget mb-30">
              <h3>Estados Unidos</h3>

              <ul class="contact-us-link">
                  <li>
                      <i class='bx bx-map'></i>
                      <a href="#" target="_blank">185 Bridge Plaza North, Suite 303, Fort Lee, NJ 07024</a>
                  </li>
                  <li>
                      <i class='bx bx-phone-call'></i>
                      <a href="tel:8097240266"> Tel.:212-568-0560</a>
                  </li>
                  <li>
                      <i class='bx bx-envelope'></i>
                      <a href="mailto:registro@uapa.edu.do">	registro@uapa.edu.do</a>
                  </li>
              </ul>
          </div>
      </div>

        </div>
    </div>

    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="/" class="d-inline-block"><img src="assets/img/logo.png" alt="image"></a>
            </div>
            <p><i class='bx bx-copyright'></i>2021 <a routerLink="/" target="_blank">UAPA</a> Designed By <a href="#" target="_blank">JKD Soft</a> | All rights reserved.</p>
        </div>
    </div>
</footer>

<div class="go-top"><i class='bx bx-up-arrow-alt'></i></div>
