<section class="mission-area ptb-100 jarallax" data-jarallax='{"speed": 0.3}'>
    <div class="container">
        <div class="mission-content">
            <div class="section-title text-left">
                <span class="sub-title">Descubre</span>
                <h2>Los Recursos mas Visitados:</h2>
            </div>

            <div class="mission-slides owl-carousel owl-theme">
                <div>
                    <h3>Curso de Iniciación a los participantes de nuevo ingreso</h3>+
                    <p>El Departamento  de  Orientación   Profesional y Académica es la unidad encargada de ofrecer servicios de orientación académica, personal y profesional  a los participantes, con  la finalidad  de lograr una efectiva integración  al quehacer universitario. </p>
                    <p>Este busca contribuir al logro de la misión y visión de la UAPA, sirviendo como soporte, mediante la atención a las necesidades de los participantes respecto a su rendimiento académico, adaptación y permanencia de calidad en la institución.</p>
                    <a routerLink="/" class="default-btn"><i class='bx bx-book-reader icon-arrow before'></i><span class="label">Ver Recurso</span><i class="bx bx-book-reader icon-arrow after"></i></a>
                </div>
                <div>
                    <h3>Curso de Programacion</h3>+
                    <p> Este busca contribuir al logro de la misión y visión de la UAPA, sirviendo como soporte, mediante la atención a las necesidades de los participantes respecto a su rendimiento académico, adaptación y permanencia de calidad en la institución.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ipsa, a porro illo doloribus facilis perferendis quis voluptas laboriosam excepturi explicabo quia quisquam autem veritatis eum obcaecati quos natus aspernatur.
                       </p>
                    <a routerLink="/" class="default-btn"><i class='bx bx-book-reader icon-arrow before'></i><span class="label">Ver Recurso</span><i class="bx bx-book-reader icon-arrow after"></i></a>
                </div>

                <div>
                    <h3>MECCA</h3>
                    <p>Sistematización y desarrollo de un Modelo Educativo por Competencias Centrado en el Aprendizaje, MECCA, que promueve la formación integral de sus participantes.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>
                    <a routerLink="/" class="default-btn"><i class='bx bx-book-reader icon-arrow before'></i><span class="label">Ver Recurso</span><i class="bx bx-book-reader icon-arrow after"></i></a>
                </div>

                <div>
                    <h3>Reglamento Académico de Postgrado</h3>
                    <p>La Escuela de Postgrado de la Universidad Abierta para Adultos (UAPA),
                        tiene como función principal planificar, dirigir, organizar y controlar todas las actividades
                        concernientes a los programas de postgrado de la Universidad.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut nisi ut aliquip ex ea commodo consequat.</p>
                    <a routerLink="/" class="default-btn"><i class='bx bx-book-reader icon-arrow before'></i><span class="label">Ver Recurso</span><i class="bx bx-book-reader icon-arrow after"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
